src/main/mule/gandj.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="970cafd6-c971-40ce-baf0-d589a8fe3b2f" basePath="/timezone">
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="99af0e16-344f-49ae-87d2-13470c388951" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="gandjFlow" doc:id="e6950c23-db67-4e2c-8285-f3e02a187a6b" >
		<http:listener doc:name="Listener" doc:id="47089b88-18d2-4d0d-ae18-5f54fba8d8d3" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="cfcd02e1-fd36-4703-a514-59dea23e8aea" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriparams.city,
	region : attributes.uriparams.rigion
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
